<fieldset>
    <legend>Type Effects</legend>
    <input type="text" size="45" [(ngModel)]="effects" placeholder="eg: backEffects, textEffects, borderEffects">
    {{effects}}
</fieldset>
<h2 [ngClass]="effects">Angular11</h2>
<br>
<fieldset>
    <legend>Choose Effects:</legend>
    <ul>
        <li><input type="checkbox" [(ngModel)]="isBackStyle">Back Effects</li>
        <li><input type="checkbox" [(ngModel)]="isTextStyle">Text Effects</li>
        <li><input type="checkbox" [(ngModel)]="isBorderStyle">Border Effects</li>
    </ul>
</fieldset>
<h2 [ngClass]="{backEffects:isBackStyle, textEffects:isTextStyle, borderEffects: isBorderStyle}">Class Binding with obect to turn ON/OFF classes dynamically</h2>
<br>
<h2 [ngClass]="['backEffects', 'textEffects', 'borderEffects']">Class Binding with array of classes</h2>
